@import url(http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext');
body {
  padding: 0px;
  background-image: url(green.jpg);
  text-align: center;
  font-family: 'Quicksand', 'Sans-Serif';
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex-grow: 1;
  flex-basis: 200;
}
.content {
  background-color: #556b2f;
  border: 2px solid black;
  padding: 15px;
  margin: 15px;
  text-align: left;
  font-family: 'Quicksand', 'Sans-Serif';
  font-size: 35px;
}
.main{
  font-size: 50px;
  text-align: 'center';
  font-family: 'Quicksand', 'Sans-Serif';
}
.img {
  background-image: url(IMG2.jpg);
  background-color: #8fbc8f;
  background-size: cover;
  border-radius: 450px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #8fbc8f;
}
.p {
  margin: 0 auto;
  padding-top: 20px;
  width: 450px;
  height: 'auto;
}
.footer {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16 px;
  color: black;
  padding-top: 100 px;
}
